<div class="container">
  <div style="padding:150px 300px 150px 300px" >
    <h2>Add Relation</h2>
    <br>
    <br>
    <%= simple_form_for @relation, url:relations_path do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :firstName,required: true %>
      <%= f.text_field :first_name %>
      <br>
      <%= f.label :lastName,required: true %>
      <%= f.text_field :last_name %>
       <br>
      <%= f.label :relationship,required: true %>
      <%= f.select :relation_to, @relationships.collect { |relationship| [relationship.name, relationship.id] } %>
      <br>
      <%= f.input :hobbies_id,  as: :select, collection: Hobby.order(:name), label_method: :name, input_html: {multiple: true} %>

      <br>

      <%= f.label :date_of_birth,required: true %>
      <%= f.text_field :date_of_birth, :id=>'birthdayField', :class=>'datepicker' %>
      <br>
      <%= f.label :gender,required: true  %>
      <%= f.text_field :gender %>
      <br>
      <%= f.label :price ,required: true %>
      <%= f.select :price_range, @prices.collect { |price| [price.detail, price.id] }  %>
      <br>
      <%= submit_tag  "Add Relation" %>
    <% end %>
  </div>
</div>