<div class="container text-center add-relation-form">
  <div >


    <h2>Add Relation</h2>
    <br>
    
    <%= simple_form_for @relation, url:relations_path do |f| %>



      <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="text-left">
      <%= f.input :first_name,
                   required: true %>
      <%= f.input :last_name,
                   required: false %>
       <br>
      <%= f.label :date_of_birth, required: true %>
      <%= f.text_field :date_of_birth, :id=>'birthdayField', :class=>'datepicker' %>
      <br>
      <br>

      <%= f.input :hobbies_id,  as: :select, collection: Hobby.order(:name), label_method: :name, input_html: {multiple: true} %>

      <br>



      <%= f.label :relationship,required: false %>
      <%= f.select :relation_to, @relationships.collect { |relationship| [relationship.name, relationship.id] } %>
      <br>
      

      
      
      <%= f.label :gender, required: false  %>
      <%= f.select :gender, @genders.collect { |gender| [gender.name, gender.id] }%>
      <br>

      <%= f.label :price_range, required: true %>
      <%= f.select :price_range, @prices.collect { |price| [price.detail, price.id] }  %>
      <br>
      <br>
      <div class="form-actions">
        <%= f.button :submit, "Add relation", class: "btn btn-primary form-control" %>
      </div>
    <% end %>
    </div>
  </div>
</div>