<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'home-banner.png' %>);">
  <div class="container banner-content">
    <h1>Welcome to GyftWrapped, the future of gift giving!</h1>
    <p>Never worry again about forgetting a birthday or anniversary,</p>
    <p>and <strong>never</strong> have trouble finding the perfect gift</p> 
    <br>
    <a class="btn btn-primary" href="#">Join now</a>
  </div>
</div>


<div class="cards">
  <div class="pastel-cards blue-bkg">
    <h3>Step 1</h3>
    <p>Add a <strong>birthday</strong>, <strong>holiday</strong> or special <strong>event</strong> for a family member, friend or colleague</p>
  </div>

  <div class="pastel-cards pink-bkg">
    <h3>Step 2</h3>
    <p>Add certain <strong>interests</strong> and <strong>hobbies</strong> that you know they are into.</p>
  </div>

  <div class="pastel-cards green-bkg">
    <h3>Step 3</h3>
    <p>Before their birthday, choose from a selection of <strong>hand picked gifts</strong> bespoke to them!</p>
  </div>
</div>


<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url 'card-giftbox-home' %>);">
</div>



<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url 'card-friends-home.jpeg' %>);">
    Friends
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url 'card-family-home.jpeg' %>);">
    Family
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url 'card-colleagues-home.jpeg' %>);">
    Colleagues
  </div>
</div>