<div class="container relation-profile-container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-xs-2 align-center">
      <img src="<%= asset_url  'default_avatar.png' %>"  class="rounded-circle  mb-2"
        style="width:50px; height: 50px;">
    </div>
    <div class="col-xs-5">
      <ul>
        <li>Name: <%= @relations.first_name %> <%= @relations.last_name %> (<%= @relation_name %>)</li>
        <li>Hobbies: <% @hobbies.each do |hobby| %>
          <%= hobby.name %> ,
        <% end %></li>
      </ul>
    </div>
    <div class="col-xs-5">
      <ul>
        <li>Price range: $<%= @from.floor %> ~ $<%= @to.floor %></li>
        <li>Birthday: <%= @birthday.month.to_s+ '-' +@birthday.day.to_s+ '-' +@birthday.year.to_s %> </li>
      </ul>
    </div>
  </div>

  <div class="row" style="padding-top: 20px; ">
    <% @products.each do | product | %>
      <div class="col-xs" style="cursor:pointer; padding-right: 80px;  ">
        <%= product.name %> <br> Card
      </div>
    <% end %>
  </div>
</div>