<div class="container" style="padding:200px 150px 100px 150px">
  <section class="row">
    <div class="col-xs">
      <img src="<%= asset_url  'default_avatar.png' %>" >
    </div>
    <div class="col-xs" style="padding-left: 200px; ">

      <span>Name: <%= @show.name %></span><br>
      <span>Age group:<%= @show.age %></span><br>
      <span>Hobby: <%= @hobby.name %></span><br>
      <span>Price: $<%= @show.price %></span><br>

    </div>
  </section>
</div>