<!DOCTYPE html>
<html>
  <head>
    <title>GyftWrapped</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.css">
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'master', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        $(document).on('ready page:load', function () {
            $('#relation_hobbies_id').chosen({
                allow_single_deselect: true,
                width: '100%'
            })
        });
    </script>
  </head>

  <body>

    <%= render 'shared/navbar' %>
<!--         <p class="notice"><%= notice %></p> -->
    <%= render 'shared/flashes' %>


    <%= yield %>
    

    <%= render 'shared/footer'  %>

  </body>
</html>
